body {
  background-color: #f2f2f2;
  text-align: center;
}

@keyframes rainbow {
  0% { color: red; }
  14.286% { color: orange; }
  28.572% { color: yellow; }
  42.858% { color: green; }
  57.144% { color: blue; }
  71.43% { color: indigo; }
  85.716% { color: violet; }
  100% { color: red; } /* Ensure the last keyframe matches the first */
}

h1 {
  font-size: 45px;
  animation: rainbow 20s infinite;
}

em, small {
  color: #5c5c5c;
}

a {
  color: #5a58ad;
  text-decoration: none;
}